.article-container {
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-body-content {
  background-color: #fff;
  flex: 1;
  max-width: 600px;

  padding: 10px 20px;

  display: flex;
  flex-direction: column;

  gap: 7px;
}
.article-title {
  font-size: x-large;
  color: #212121;
  margin: 10px 0px;
  padding: 10px 0px;
}
.box-items-wrapper {
  color: #7e7e7e;
  gap: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;

  margin: 10px 0px;
  padding: 5px 0px;
}
.article-image {
  width: auto;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
}
p {
  white-space: pre-line;
  font-size: 15px;
  margin-top: 55px;

  line-height: 1.7;
}
