.home__main {
  width: calc(100vw - 96px);
  padding: 16px;
  max-width: 900px;

  font-size: 16px;

  gap: 20px;
}

@media screen and (max-width: 767px) {
  .home__main {
    padding: 24px;
    width: calc((100vw - 48px));

    max-width: 600px;
    font-size: 14px;
  }
}
