.page {
  width: 100vw;
  height: 778px;
  background-color: #dff2fe;
  /* bg-sky-200 */
}
.main {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 494px) {
  .white__space {
    position: static;
    padding: 10px;
  }
  * {
    font-size: 10px;
  }
  .mainBackground {
    display: none;
  }
}
/* 스크롤바 전체 영역 */
* ::-webkit-scrollbar {
  width: 16px; /* 수직 스크롤바 너비 */
  height: 16px; /* 수평 스크롤바 높이 */
}
