.bar {
  background-color: white;
  padding: 10px 17px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.bar_label {
  width: 100px;
  word-break: keep-all;

  font-size: small;
  font-weight: bold;
  color: #6a7282;
}

.bar_graph {
  flex: 1;
  background-color: #edf2fa;
  border-radius: 4px;
  overflow-x: hidden;
}

.bar_graph_content {
  height: 24px;
  background-color: #4f86f7;
  font-size: 12px;
  padding: 2px 8px;
}
