.barcharts__container {
  max-width: 475px;
  padding: 10px 6px;

  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}
.no__more__data {
  font-size: small;
  color: gray;
  text-align: center;
  margin: 12px auto;
}
