button {
  height: 32px;
  white-space: nowrap;
  /* 줄바꿈 없음   */
  font-size: small;
  font-weight: bold;

  padding: 0px 14px;
  border-radius: 120px;
}
button:hover {
  background-color: #eff0f2;
}
button.active {
  background: #e5e7eb;
  color: #1e1e1e;
  border-color: #e5e7eb;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 900px;
}
.filter__section {
  display: flex;
  padding: 4px 8px;
  gap: 8px;
  background: white;

  overflow-x: auto;
  white-space: nowrap;
}
