button {
  cursor: pointer;
  background-color: white;
  border: none;

  padding: 14px 18px;
  font-size: 14px;
  white-space: nowrap;
  /* 줄바꿈 허용하지 않음  */
}
button:hover {
  background-color: #e5e7eb;
  border-radius: 14px;
}
button.active {
  background: #e5e7eb;
  color: #1e1e1e;
  border-color: #e5e7eb;
  border-radius: 14px;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 900px;
}
.filter__section {
  display: flex;
  padding: 4px 8px;
  margin: 4px 8px;
  background: white;
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 900px;

  overflow-x: auto;
  white-space: nowrap;
}
