a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  padding: 20px 24px;
  /* 수식으로 중앙 정렬 */
  align-items: center;
  /* 블록 내에서 중앙 정렬 */
  text-align: center;
  margin: 0;

  gap: 24px;
}
.header__menu {
  display: flex;
  gap: 24px;

  background-color: white;
  border: 1px solid lightgray;
  border-radius: 14px;
  padding: 14px 18px;

  font-size: 14px;
}
