li {
  padding: 0;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;

  margin: 20px;
  padding: 20px;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.section__scrollable {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  white-space: nowrap;
}
.section__scrollable__shelf {
  padding: 0;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #f9f9f9;
  font-weight: 500;
  transition: background 0.3s;

  color: #808080;
  font-size: 15px;
}
.div,
.ranking {
  font-weight: bold;
  color: #ff5722;
}
.caffeine {
  font-weight: bold;
  color: #155dfc;
}
@media screen and (min-width: 767px) {
  .section {
    max-width: 1000px;
    max-height: 400;
  }
}
